body {
   margin: 0;
   font-family: Arial, sans-serif;
   background: #000; /* фон черный */
   color: #fff;
 }

 header {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 20px;
   background: #000;
 }
 .logo img {
   width: 120px;
   height: auto;
 }
 nav {
   margin-left: 50px;
 }
.nav ul {
   list-style: none;
   display: flex;
   gap: 40px;
   margin: 0;
   padding: 0;
 }

 nav ul li {
   font-size: 22px;
 }

 nav ul li a {
   color: #fff;
   text-decoration: none;
 }

 .intro {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 20px;
 }

 .intro-text {
   width: 40%;
   background: yellow;
   color: black;
   padding: 20px;
   line-height: 1.6;
 }

 .intro-text h2 {
   margin-top: 0;
 }
 .intro img {
  width: 700px;
  height: 400px;
  object-fit: cover;
   border: 2px solid #000;
 }


 .menu-section {
   background: #333;
   padding: 20px;
   text-align: center;
 }
 .menu-section h2 {
   margin-top: 0;
 }

 .menu-table {
   margin: 0 auto;
   width: 70%;
   color: white;
   border-collapse: collapse;
   font-size: 18px;
 }
 .menu-table th, .menu-table td {
   padding: 10px 20px;
   text-align: center;
 }

 .dishes {
   background: #222;
   padding: 20px;
   text-align: center;
 }
   .dishes h2 {
   margin-bottom: 20px;
 }
 .dishes-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
   width: 70%;
   margin: 0 auto;
 }

 .dishes-grid div {
   background: black;
   color: white;
   text-align: center;
   font-size: 20px;
 }

 .dishes-grid img {
   width: 100%;
   height: auto;
   display: block;
 }